.container {
}

.imgContainer {
  height: 200px;
  width: 100%;
  position: relative;
}

.img {
  object-fit: cover;
  filter: grayscale(100%);
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #f84e61;
  color: #fff;
  padding: 20px;
}

.textContainer {
  display: flex;
  gap: 100px;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
